<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <!-- <link rel="stylesheet" href="~/css/site.css" /> -->
</head>

<body>
    <h2>THIS IS MADNESS</h2>
    @RenderBody()
</body>

</html>